#timeController-container {
  /* width: 15%; */
  margin: 0.5em auto;
  display: flex;
  flex-direction: column;
  font-family: 'Kalam';
  font-size: 1.25em;
}

#session-label::first-letter,
#break-label::first-letter {
  text-transform: capitalize;
}

.increment-span,
.decrement-span {
  margin: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.increment-span:hover,
.decrement-span:hover {
  color: darkblue;
}
